.tooltip {
}
.tooltipText {
  position: absolute;
  width: fit-content;
  top: 24px;
  right: 0;
  background: #fff;
  z-index: 1;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  font-size: 14px;
  padding: 8px;
  line-height: 1.6;
  border-radius: 8px;
}